<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <table>
    <tr>
      <th>ID</th>
      <td>{{ obj.id }}</td>
    </tr>
    <tr>
      <th>名前</th>
      <td>{{ obj.name }}</td>
    </tr>
    <tr>
      <th>メール</th>
      <td>{{ obj.mail }}</td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        {% if obj.gender == False %}男{% endif %}
        {% if obj.gender == True %}女{% endif %}</td>
    </tr>
    <tr>
      <th>部署</th>
      <td>{{ obj.department }}</td>
    </tr>
    <tr>
      <th>社歴</th>
      <td>{{ obj.year }}</td>
    </tr>
    <tr>
      <th>作成日</th>
      <td>{{ obj.created_at }}</td>
    </tr>
    <form action="{% url 'study:delete' id %}" method="post">
      {% csrf_token %}
      <tr>
        <th></th>
        <td><input type="submit" value="削除"></td>
      </tr>
    </form>
  </table>
</body>
</html>