<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{title}}</h1>
  <table>
    <tr>
      {% for h in header %}
      <th>{{h}}</th>
      {% endfor %}
    </tr>

    {% for i in val %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.student_number }}</td>
      <td>{% if i.gender == False %}男{% endif %}
        {% if i.gender == True %}女{% endif %}</td>
      <td>{{ i.department }}</td>
      <td>{{ i.year }}</td>
      <td><a href="{% url 'study:update' i.id %}">更新</a></td>
      <td><a href="{% url 'study:delete' i.id %}">削除</a></td>
    </tr>
    </tr>
    {% endfor %}
  </table>
</body>
</html>