<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign up</title>
</head>
<body>
  <h1>登録</h1>
  <h1>{{ title }}</h1>
  <table>
    <form action="{% url 'study:signup' %}" method="post">
      {% csrf_token %}
      {{ form.as_table }}
      {% for sub in subject %}
      <tr>
        <td>{{ sub }}</td>
      </tr>
      {% endfor%}
      <tr>
        <td></td>
        <td>
          <input type="submit" value="送信">
        </td>
      </tr>
    </form>
  </table>
</body>
</html>